framework/auden-musulin/schema/am.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI
  xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:s="http://purl.oclc.org/dsdl/schematron">

  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Auden Musulin Papers</title>
        <author xml:id="DST" role="main">Daniel Stoxreiter</author>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <name>Austrian Centre for Digital Humanities and Cultural Heritage,
            Österreichische Akademie der Wissenschaften</name>
          <ref target="https://acdh.oeaw.ac.at">https://acdh.oeaw.ac.at</ref>
        </publisher>
        <pubPlace>Wien, Österreich</pubPlace>
        <date>2022</date>
        <availability>
          <licence target="https://creativecommons.org/licenses/by/4.0/deed.en">
            Creative Commons Namensnennung 4.0 International Lizenz
          </licence>
        </availability>
        <ref type="URL"
          target="https://github.com/Auden-Musulin-Papers/amp-data/framework/auden-musulin/schema/am.odd"
          >https://github.com/Auden-Musulin-Papers/amp-data/framework/auden-musulin/schema/am.odd</ref>
      </publicationStmt>
      <sourceDesc>
        <p>Born digital.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>

<!-- Text der ODD -->

  <text>
    <front>
      <titlePage>
        <docTitle>
          <titlePart type="main">ODD Auden Musulin Papers</titlePart>
        </docTitle>
        <docAuthor>Daniel Stoxreiter</docAuthor>
      </titlePage>
    </front>
    <body>
            
<!-- SCHEMA -->
      
      <div>
        
        <head>TEI-Modifikation</head>
        
        <schemaSpec ident="frd-hka" start="TEI" xml:lang="de">
          <moduleRef key="header" include="correspDesc correspAction seriesStmt listPrefixDef prefixDef creation langUsage language teiHeader fileDesc titleStmt editionStmt extent publicationStmt sourceDesc profileDesc encodingDesc tagsDecl rendition revisionDesc change notesStmt edition funder principal availability licence idno"/>
          <moduleRef key="core" include="gap graphic ptr imprint biblScope head desc l label lg list author editor title p respStmt resp noteGrp note relatedItem biblStruct listBibl bibl analytic monogr series date pubPlace publisher ref address street postCode name emph foreign hi lb pb q quote rs sic term unclear del abbr add choice cit corr index"/>
          <moduleRef key="corpus"/>
          <moduleRef key="msdescription" include="msDesc msIdentifier repository collection history origin origDate"/>
          <moduleRef key="namesdates" include="country settlement listEvent event listOrg org listPerson person listPlace place listObject object forename geo location objectName orgName persName placeName region roleName surname state geogName affiliation"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure" include="TEI text body div"/>
          <moduleRef key="textcrit" include="listWit witness"/>
          <moduleRef key="transcr" include="fw space facsimile surface"/>
          <moduleRef key="linking" include="ab"/>
        
          <!-- element availability -->
          <elementSpec ident="availability" module="header" mode="change"/>
          
          <!-- element fileDesc -->
          <elementSpec ident="fileDesc" module="header" mode="change"/>
          
          <!-- element persName -->
          <elementSpec ident="persName" module="namesdates" mode="change"/>
          
          <!-- element fileDesc -->
          <elementSpec ident="placeName" module="namesdates" mode="change"/>
  
          <!-- element licence -->
          <elementSpec ident="licence" module="header" mode="change">
            <attList>
              <attDef ident="target" mode="change" usage="req">
                <valList mode="replace" type="closed">
                  <valItem ident="https://creativecommons.org/licenses/by/4.0/deed.en"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element origDate -->
          <elementSpec ident="origDate" module="msdescription" mode="change">
            <attList>
              <attDef ident="notBefore" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
              <attDef ident="notAfter" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
              <attDef ident="when" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
              <attDef ident="when-iso" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element date -->
          <elementSpec ident="date" module="core" mode="change">
            <attList>
              <attDef ident="notBefore" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
              <attDef ident="notAfter" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
              <attDef ident="when" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
              <attDef ident="when-iso" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.temporal.iso"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element change -->
          <elementSpec ident="change" module="header" mode="change">
            <attList>
              <attDef ident="who" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="pandorfer"/>
                  <valItem ident="smayer"/>
                  <valItem ident="tfruehwirth"/>
                  <valItem ident="dstoxreiter"/>
                  <valItem ident="dgrigoriou"/>
                </valList>
              </attDef>
              <attDef ident="when" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.temporal.w3c"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element hi -->
          <elementSpec ident="hi" module="core" mode="change">
            <attList>
              <attDef ident="rend" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="underline"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element lb -->
          <elementSpec ident="lb" module="core" mode="change">
            <attList>
              <attDef ident="break" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="no">
                    <desc>Umbruch im Wort</desc>
                  </valItem>
                  <valItem ident="paragraph">
                    <desc>Paragraph Zusammenführung</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element note -->
          <elementSpec ident="note" module="core" mode="change">
            <attList>
              <attDef ident="resp" mode="change" usage="opt">
                <valList type="closed" mode="replace">
                  <valItem ident="smayer"/>
                  <valItem ident="tfruehwirth"/>
                  <valItem ident="dgrigoriou"/>
                </valList>
              </attDef>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="e"/>
                  <valItem ident="footnote"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>       
          
          <!-- element p -->
          <!--<elementSpec ident="p" module="core" mode="change"/>-->
          
          <!-- element pb -->
          <elementSpec ident="pb" module="core" mode="change">
            <attList>
              <attDef ident="n" mode="change" usage="opt">
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
              <attDef ident="facs" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="sheet"/>
                  <valItem ident="envelope"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element ref -->
          <elementSpec ident="ref" module="core" mode="change">
            <attList>
              <attDef ident="target" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element div -->
          <elementSpec ident="div" module="textstructure" mode="change">
            <attList>
              <attDef ident="xmlns" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="http://www.tei-c.org/ns/1.0"/>
                </valList>
              </attDef>
              <attDef ident="xml:id" mode="change" usage="req"/>
              <attDef ident="type" mode="change" usage="opt"/>
              <attDef ident="n" mode="change" usage="opt"/>
            </attList>
          </elementSpec>
          
          <!-- element fw -->
          <elementSpec ident="fw" module="transcr" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="pageNum"/>
                </valList>
              </attDef>
              <attDef ident="xml:id" mode="change" usage="opt">
                <datatype>
                  <dataRef key="ID"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element rs -->
          <elementSpec ident="rs" module="core" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="person"/>
                  <valItem ident="place"/>
                  <valItem ident="bibl"/>
                  <valItem ident="event"/>
                  <valItem ident="org"/>
                </valList>
              </attDef>
              <attDef ident="ref" mode="change" usage="req">
                <datatype>
                  <dataRef key="ID"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element del -->
          <elementSpec ident="del" module="core" mode="change"/>
          
          <!-- element unclear -->
          <elementSpec ident="unclear" module="core" mode="change"/>
          
          <!-- element space -->
          <elementSpec ident="space" module="transcr" mode="change">
            <attList>
              <attDef ident="quantity" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
              <attDef ident="unit" mode="change" usage="req">
                <valList type="closed" mode="replace">
                  <valItem ident="char"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element facsimile -->
          <elementSpec ident="facsimile" module="transcr" mode="change"/>
          
          <!-- element surface -->
          <elementSpec ident="surface" module="transcr" mode="change">
            <attList>
              <attDef ident="ulx" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
              <attDef ident="uly" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
              <attDef ident="lrx" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
              <attDef ident="lry" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element graphic -->
          <elementSpec ident="graphic" module="core" mode="change">
            <attList>
              <attDef ident="url" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- element gap -->
          <elementSpec ident="gap" module="core" mode="change">
            <attList>
              <attDef ident="reason" mode="change" usage="req">
                <valList mode="replace" type="closed">
                  <valItem ident="deleted"/>
                  <valItem ident="illegible"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
        </schemaSpec>
      </div>
        
    </body>
      
  </text>
    
</TEI>
